/* General */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #111;
    scroll-behavior: smooth;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  
}


h1, h2, h3 {
    margin-bottom: 1rem;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgb(3, 3, 3);
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 100;
}

/* Logo Container */
.logo-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logo {
    width: 40px;
    height: 40px;
    font-family: monospace;
    background: #000000;
    color: rgb(245, 245, 245);
    font-weight:bolder;
    font-size: 1.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    border: 3px solid rgb(32, 121, 180);
}

.logo-details {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.logo-name {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(49, 131, 186);
}

.logo-text {
    font-size: 0.7rem;
    color:  #ffffff;
}

/* Navbar Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #fffefe;
    font-weight: 600;
}

.nav-links a:hover {
    color: #3d8fe7e2;
}


/* Sections */
section {
    padding: 50px 50px;
    min-height: 100vh;
}
section h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;

}
section h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-transform: uppercase;

}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/pexels.jpg') center/cover no-repeat;
    color: rgb(255, 255, 255);
    text-align: left;
}
/* About Me */
.about-title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000000;
    margin-top: 5px;
    border-radius: 2px;
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4e3e3d2; /* Dark background */
    color: #000000;
    border-radius: 50%;
    transition: transform 0.3s, background 0.3s;
    font-size: 1.5rem;
}

.social-icon:hover {
    transform: scale(1.2) rotate(10deg);
    background: #4FC3F7; 
    color: #121212;  
}
.social-icon.github:hover {
    background: #9349ac; 
    color: #fff; 
}
.social-icon.linkedin:hover {
    background: #0077B5; 
    color: #fff; 
}
.about-avatar img {
    width: 200px;
    margin-left:900px ;
    align-items: right;
    padding: 10px;
    border-radius: 10px;
    border:  solid #000000; 
    box-shadow: 0 4px 15px rgba(1, 31, 44, 0.677), 
              0 15px 10px rgba(23, 50, 63, 0.789); 
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}
/* .about-avatar img {
  width: 200px;
  margin-left:900px ;
  align-items: right;
  padding: 10px;
  border-radius: 10px; /* gives a soft, modern look */
  


/* Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  
  .about-avatar img {
    width: 150px;
  }
}
/* Projects */
.project {
    display: flex;
    align-items: center;           
    justify-content: space-between; 
    margin-bottom: 2rem;
    padding: 1.5rem;
    color: rgb(0, 0, 0);
    border-left: 4px solid #000000;
    background: #fffffff7;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.708);
}

.project-text {
    flex: 1;
    text-align: left;
    padding-right: 2rem;
}
.project-links a{
    text-decoration: none;
    color: rgb(31, 47, 64);
}

.project-img img {
    width: 300px;      
    height: auto;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.509);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.537);
    transition: transform 0.3s;
}

.project-img img:hover {
    transform: scale(1.03);
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
    text-align: center;
  }

  .project-text {
    padding-right: 0;
  }

  .project-img img {
    width: 80%;
    margin-top: 1rem;
  }
}


/* Skills */
.skills-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #c83d87;
    margin-top: 5px;
    border-radius: 2px;
}
 
/* #skills {
  max-width: 600px;
  margin: 0 auto;
}
 */
canvas {
    width: 100% !important;
    height: 400px !important;
}

/* Contact */

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    min-height: 100vh;        
    padding: 100px 50px; }

#contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200%;
    max-width: 600px;        
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin-bottom: 1rem;

}

input, textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background:  rgb(49, 131, 186);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background:  rgb(125, 180, 217);
}



